.container {
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  text-align: center;
}

h1 {
  text-align: center;
}

.imageGroups {
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  border-radius: 5px;
}

.promptGen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.inputField {
  font-size: 26px;
  padding: 20px 30px;
  border-radius: 10px;
  border: none !important;
  background-color: #D9D9D9;
  outline: none;
  box-shadow: 0px 3px 3px 3px rgb(187, 183, 183);
  transition: padding 0.3s ease;
  &:focus{
    outline: none !important;
    padding: 20px 60px;
  }
}