.title {
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
}

.container {
  height: 200px;
  position: relative;
  margin-top: 50px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #ffffff;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.sbutton {
  top: 16px;
  right: 15px;
  min-width: 35px;
  background-color: #9ea7af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.sbutton:hover {
  background-color: #797979;
}

.gbutton {
  background-color: #9ea7af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-top: 2.5%;
  transition: background-color 0.3s ease;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 0.5px 0.5px #cbcbcb;
}

.gbutton:hover {
  background-color: #fff6a2;
}

.centers {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tabletitle {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.tabletitle h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
}

/*** Table Styles **/

.tablefill {
  background: #fff6a2;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #edf2f7;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 24px;
  font-weight: 350;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.table-hover tbody tr:hover td {
  background: #f5f5f5;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #36373b;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #fff6a2;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #fffed5;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  text-shadow: -0.5px -0.5px 0.5px rgba(0, 0, 0, 0.1);
  border-right: 1.5px solid #c1c3d1;
  border-bottom: 1.5px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-center {
  text-align: center;
}

td.text-center {
  text-align: center;
}
